$line-height: 19px;
$border-width: 1px;
$spacing: 24px;

$highlight-color: rgb(242, 244, 248);
$selected-option-background: linear-gradient(to bottom, #fefefe, #f2f2f2);
$dropdown-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$standard-border: $border-width solid #d0d0d0;

$spacing-small: $spacing / 2;
$spacing-tiny: $spacing / 4;

// Hide real select boxes which have seen styled.
select[data-ss-uuid] {
	display: none;
	pointer-events: none;
}

.style-select {
	display: block;
	position: relative;
	width: 140px; // Default width

	// Set reasonable defaults on this element and its children
	&, * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-align: left;
		line-height: $line-height;
		color: black;
		font-weight: 300;
		cursor: pointer;
	}

	.ss-selected-option {
		width: 100%;
		background-image: $selected-option-background;
		border-radius: 2px;
		padding: $spacing-tiny;
		border: $standard-border;
		// The down arrow
		&::after {
			content: "▾";
			position: absolute;
			top: $spacing-tiny;
			right: $spacing-small;
			display: block;
		}
	}

	.ss-dropdown {
		top: $line-height + 2 * $spacing-tiny + $border-width;
		left: 0;
		position: absolute;
		float: left;
		width: 100%;
		display: none;
		box-shadow: $dropdown-shadow;
		border: $standard-border;
		border-top: 0 none;
		.ss-option {
			width: 100%;
			padding: $spacing-tiny;
			background-color: white;
			// We don't use :hover as that's only for mouse
			// and we want keyboard highlighting too
			&.highlighted {
				background-color: $highlight-color;
			}
			&.disabled {
				color: #d0d0d0;
			}
			&.ticked::before {
				content: "✓";
				padding-right: 3px;
			}
		}
	}

	&.open {
		.ss-dropdown {
			display: block;
		}
		.ss-selected-option::after {
			content: "▴";
		}
	}

}
