select[data-vs-uuid] {
	display: none;
	pointer-events: none;
}

.visual-select {
	display: block;
	position: relative;
	float: left;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: left;
	width: 140px; // Default width

	&, * {
		padding: 0;
		margin: 0;
		display: block;
	}

	ul {
		top: 0;
		left: 0;
		position: absolute;
		list-style-type: none;
		float: left;
		width: 100%;
		display: none;
	}

	&.open {
		.vs-default-option {
		}
		ul {
			display: table;
		}
	}

	li,
	div {
		color: black;
		font-weight: 300;
		cursor: pointer;
		list-style-type: none;
		display: block;
		clear: both;
		width: 100%;
		float: left;
		&:hover {
		}
	}

	div {
		position: relative;
		&:hover {
		}
	}

}