$spacing: 24px;
$spacing-small: 12px;
$spacing-tiny: 6px;

.style-select {
    .ss-selected-option {
        background-image: linear-gradient(to bottom, #fefefe, #f2f2f2) !important;
        border-radius: 2px;
        border-color: #b8b8b8;
        padding: $spacing-tiny;
        border: 1px solid #d0d0d0;
        &::after {
            content: "▾";
            position: absolute;
            top: 6px;
            right: $spacing-small;
            display: block;
        }
    }
    .ss-dropdown {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid #d0d0d0;
        border-top: 0 none;
        .ss-option {
            padding: $spacing-tiny;
        }
    }
}